<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <description>apache shiro配置</description>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/pages/login.html"/>
        <property name="successUrl" value="/pages/index.html"/>
        <property name="unauthorizedUrl" value="/pages/401.html"/>
        <property name="filterChainDefinitions">
            <value>
                <!-- 静态资源允许访问 -->
                <!--/app/** = anon-->
                <!--/assets/** = anon-->
                <!-- 登录页允许访问 -->
                <!--/rest/user/login = anon-->
                <!-- 其他资源需要认证 -->
                <!--/** = authc-->
            </value>
        </property>
    </bean>

    <!--realm配置，realm是shiro的桥梁，它主要是用来判断subject是否可以登录及权限等-->
    <bean id="securityRealm" class="live.itrip.admin.shiro.SecurityRealm">
        <!--<property name="userService" ref="userService" />-->
    </bean>

    <!-- shiro securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
        <property name="realms">
            <list>
                <ref bean="securityRealm"/>
            </list>
        </property>

        <!-- cacheManager -->
        <property name="cacheManager" ref="cacheManager"/>

        <!-- By default the servlet container sessions will be used.  Uncomment this line
             to use shiro's native sessions (see the JavaDoc for more): -->
        <!-- <property name="sessionMode" value="native"/> -->
    </bean>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- cacheManager -->
    <bean class="org.apache.shiro.cache.ehcache.EhCacheManager" id="cacheManager"> </bean>

</beans>