<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.AdminModuleMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.AdminModule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="module_name" property="moduleName" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="module_url" property="moduleUrl" jdbcType="VARCHAR"/>
        <result column="module_order" property="moduleOrder" jdbcType="INTEGER"/>
        <result column="module_icon" property="moduleIcon" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, module_name, parent_id, module_url, module_order, module_icon, description, is_delete,
        create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admin_module
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from admin_module
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.AdminModule">
        insert into admin_module (id, module_name, parent_id,
        module_url, module_order, module_icon,
        description, is_delete, create_time,
        update_time)
        values (#{id,jdbcType=INTEGER}, #{moduleName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
        #{moduleUrl,jdbcType=VARCHAR}, #{moduleOrder,jdbcType=INTEGER}, #{moduleIcon,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=BIGINT},
        #{updateTime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.AdminModule">
        insert into admin_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="moduleName != null">
                module_name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="moduleUrl != null">
                module_url,
            </if>
            <if test="moduleOrder != null">
                module_order,
            </if>
            <if test="moduleIcon != null">
                module_icon,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="moduleName != null">
                #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="moduleUrl != null">
                #{moduleUrl,jdbcType=VARCHAR},
            </if>
            <if test="moduleOrder != null">
                #{moduleOrder,jdbcType=INTEGER},
            </if>
            <if test="moduleIcon != null">
                #{moduleIcon,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.AdminModule">
        update admin_module
        <set>
            <if test="moduleName != null">
                module_name = #{moduleName,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="moduleUrl != null">
                module_url = #{moduleUrl,jdbcType=VARCHAR},
            </if>
            <if test="moduleOrder != null">
                module_order = #{moduleOrder,jdbcType=INTEGER},
            </if>
            <if test="moduleIcon != null">
                module_icon = #{moduleIcon,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.AdminModule">
        update admin_module
        set module_name = #{moduleName,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=INTEGER},
        module_url = #{moduleUrl,jdbcType=VARCHAR},
        module_order = #{moduleOrder,jdbcType=INTEGER},
        module_icon = #{moduleIcon,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=CHAR},
        create_time = #{createTime,jdbcType=BIGINT},
        update_time = #{updateTime,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <!--自定义查询-->
    <select id="selectAllModules" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin_module where is_delete = '${flag}' ORDER BY module_order
    </select>

    <select id="countAll" resultType="int">
        select count(id) from admin_module
    </select>

    <select id="selectModules" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admin_module
        WHERE TRUE
        <if test="queryContent != null and queryContent != '' ">
            AND  module_name LIKE ${queryContent}
        </if>
        limit ${start},${length}
    </select>

    <select id="selectModulesByIds" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admin_module where id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>