<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.AdminDictItemMapper">

    <resultMap id="BaseResultMap" type="live.itrip.admin.model.AdminDictItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="dict_id" property="dictId" jdbcType="INTEGER"/>
        <result column="dict_item_name" property="dictItemName" jdbcType="VARCHAR"/>
        <result column="dict_item_text" property="dictItemText" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dict_id, dict_item_name, dict_item_text, is_delete, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_item
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_dict_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.AdminDictItem" keyProperty="id" useGeneratedKeys="true">
    insert into admin_dict_item (id, dict_id, dict_item_name, 
      dict_item_text, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{dictId,jdbcType=INTEGER}, #{dictItemName,jdbcType=VARCHAR}, 
      #{dictItemText,jdbcType=VARCHAR}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.AdminDictItem" keyProperty="id"
            useGeneratedKeys="true">
        insert into admin_dict_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dictId != null">
                dict_id,
            </if>
            <if test="dictItemName != null">
                dict_item_name,
            </if>
            <if test="dictItemText != null">
                dict_item_text,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="dictId != null">
                #{dictId,jdbcType=INTEGER},
            </if>
            <if test="dictItemName != null">
                #{dictItemName,jdbcType=VARCHAR},
            </if>
            <if test="dictItemText != null">
                #{dictItemText,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.AdminDictItem">
        update admin_dict_item
        <set>
            <if test="dictId != null">
                dict_id = #{dictId,jdbcType=INTEGER},
            </if>
            <if test="dictItemName != null">
                dict_item_name = #{dictItemName,jdbcType=VARCHAR},
            </if>
            <if test="dictItemText != null">
                dict_item_text = #{dictItemText,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.AdminDictItem">
    update admin_dict_item
    set dict_id = #{dictId,jdbcType=INTEGER},
      dict_item_name = #{dictItemName,jdbcType=VARCHAR},
      dict_item_text = #{dictItemText,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
    </update>

    <!--自定义查询-->
    <select id="countAll" resultType="int">
        select count(id) from admin_dict_item
    </select>
    <select id="selectDictItems" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_item
        WHERE TRUE
        <if test="queryContent != null and queryContent != '' ">
            AND dict_item_text LIKE ${queryContent}
        </if>
        <if test="queryDictId > 0">
            AND dict_id = ${queryDictId}
        </if>
        limit ${start},${length}
    </select>
    <select id="selectAllDictItems" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from admin_dict_item
    </select>
</mapper>