<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.WebFileInfoMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.WebFileInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="own" property="own" jdbcType="VARCHAR"/>
        <result column="own_id" property="ownId" jdbcType="INTEGER"/>
        <result column="file_name" property="fileName" jdbcType="VARCHAR"/>
        <result column="file_location" property="fileLocation" jdbcType="VARCHAR"/>
        <result column="file_size" property="fileSize" jdbcType="BIGINT"/>
        <result column="md5" property="md5" jdbcType="VARCHAR"/>
        <result column="file_type" property="fileType" jdbcType="VARCHAR"/>
        <result column="file_url" property="fileUrl" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, own, own_id, file_name, file_location, file_size, md5, file_type, file_url, is_delete, 
    create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from web_file_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from web_file_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.WebFileInfo">
    insert into web_file_info (id, own, own_id, 
      file_name, file_location, file_size, 
      md5, file_type, file_url, 
      is_delete, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{own,jdbcType=VARCHAR}, #{ownId,jdbcType=INTEGER}, 
      #{fileName,jdbcType=VARCHAR}, #{fileLocation,jdbcType=VARCHAR}, #{fileSize,jdbcType=BIGINT}, 
      #{md5,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.WebFileInfo">
        insert into web_file_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="own != null">
                own,
            </if>
            <if test="ownId != null">
                own_id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="fileLocation != null">
                file_location,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="md5 != null">
                md5,
            </if>
            <if test="fileType != null">
                file_type,
            </if>
            <if test="fileUrl != null">
                file_url,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="own != null">
                #{own,jdbcType=VARCHAR},
            </if>
            <if test="ownId != null">
                #{ownId,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileLocation != null">
                #{fileLocation,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="md5 != null">
                #{md5,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.WebFileInfo">
        update web_file_info
        <set>
            <if test="own != null">
                own = #{own,jdbcType=VARCHAR},
            </if>
            <if test="ownId != null">
                own_id = #{ownId,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileLocation != null">
                file_location = #{fileLocation,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=BIGINT},
            </if>
            <if test="md5 != null">
                md5 = #{md5,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileUrl != null">
                file_url = #{fileUrl,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.WebFileInfo">
    update web_file_info
    set own = #{own,jdbcType=VARCHAR},
      own_id = #{ownId,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      file_location = #{fileLocation,jdbcType=VARCHAR},
      file_size = #{fileSize,jdbcType=BIGINT},
      md5 = #{md5,jdbcType=VARCHAR},
      file_type = #{fileType,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>