<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.admin.dao.WebProductPlanMapper">
    <resultMap id="BaseResultMap" type="live.itrip.admin.model.WebProductPlan">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="date_time" property="dateTime" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="station_from" property="stationFrom" jdbcType="VARCHAR"/>
        <result column="traffic" property="traffic" jdbcType="VARCHAR"/>
        <result column="station_to" property="stationTo" jdbcType="VARCHAR"/>
        <result column="breakfast" property="breakfast" jdbcType="VARCHAR"/>
        <result column="lunch" property="lunch" jdbcType="VARCHAR"/>
        <result column="dinner" property="dinner" jdbcType="VARCHAR"/>
        <result column="hotel" property="hotel" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="live.itrip.admin.model.WebProductPlan" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, product_id, date_time, title, station_from, traffic, station_to, breakfast, lunch, 
    dinner, hotel, create_time, update_time
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from web_product_plan
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_product_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="live.itrip.admin.model.WebProductPlan">
    insert into web_product_plan (id, product_id, date_time, 
      title, station_from, traffic, 
      station_to, breakfast, lunch, 
      dinner, hotel, create_time, 
      update_time, content)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{dateTime,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{stationFrom,jdbcType=VARCHAR}, #{traffic,jdbcType=VARCHAR}, 
      #{stationTo,jdbcType=VARCHAR}, #{breakfast,jdbcType=VARCHAR}, #{lunch,jdbcType=VARCHAR}, 
      #{dinner,jdbcType=VARCHAR}, #{hotel,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.admin.model.WebProductPlan">
        insert into web_product_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="dateTime != null">
                date_time,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="stationFrom != null">
                station_from,
            </if>
            <if test="traffic != null">
                traffic,
            </if>
            <if test="stationTo != null">
                station_to,
            </if>
            <if test="breakfast != null">
                breakfast,
            </if>
            <if test="lunch != null">
                lunch,
            </if>
            <if test="dinner != null">
                dinner,
            </if>
            <if test="hotel != null">
                hotel,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="dateTime != null">
                #{dateTime,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="stationFrom != null">
                #{stationFrom,jdbcType=VARCHAR},
            </if>
            <if test="traffic != null">
                #{traffic,jdbcType=VARCHAR},
            </if>
            <if test="stationTo != null">
                #{stationTo,jdbcType=VARCHAR},
            </if>
            <if test="breakfast != null">
                #{breakfast,jdbcType=VARCHAR},
            </if>
            <if test="lunch != null">
                #{lunch,jdbcType=VARCHAR},
            </if>
            <if test="dinner != null">
                #{dinner,jdbcType=VARCHAR},
            </if>
            <if test="hotel != null">
                #{hotel,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.admin.model.WebProductPlan">
        update web_product_plan
        <set>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="dateTime != null">
                date_time = #{dateTime,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="stationFrom != null">
                station_from = #{stationFrom,jdbcType=VARCHAR},
            </if>
            <if test="traffic != null">
                traffic = #{traffic,jdbcType=VARCHAR},
            </if>
            <if test="stationTo != null">
                station_to = #{stationTo,jdbcType=VARCHAR},
            </if>
            <if test="breakfast != null">
                breakfast = #{breakfast,jdbcType=VARCHAR},
            </if>
            <if test="lunch != null">
                lunch = #{lunch,jdbcType=VARCHAR},
            </if>
            <if test="dinner != null">
                dinner = #{dinner,jdbcType=VARCHAR},
            </if>
            <if test="hotel != null">
                hotel = #{hotel,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="live.itrip.admin.model.WebProductPlan">
    update web_product_plan
    set product_id = #{productId,jdbcType=INTEGER},
      date_time = #{dateTime,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      station_from = #{stationFrom,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      station_to = #{stationTo,jdbcType=VARCHAR},
      breakfast = #{breakfast,jdbcType=VARCHAR},
      lunch = #{lunch,jdbcType=VARCHAR},
      dinner = #{dinner,jdbcType=VARCHAR},
      hotel = #{hotel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.admin.model.WebProductPlan">
    update web_product_plan
    set product_id = #{productId,jdbcType=INTEGER},
      date_time = #{dateTime,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      station_from = #{stationFrom,jdbcType=VARCHAR},
      traffic = #{traffic,jdbcType=VARCHAR},
      station_to = #{stationTo,jdbcType=VARCHAR},
      breakfast = #{breakfast,jdbcType=VARCHAR},
      lunch = #{lunch,jdbcType=VARCHAR},
      dinner = #{dinner,jdbcType=VARCHAR},
      hotel = #{hotel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--自定义查询-->
    <select id="countAll" resultType="int">
        select count(id) from web_product_plan
    </select>

    <select id="selectPlanDetails" resultMap="ResultMapWithBLOBs" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from web_product_plan ORDER BY id DESC limit ${start},${length}
    </select>

    <select id="countByProductId" resultType="int" parameterType="map">
        select count(id) from web_product_plan WHERE product_id = ${productId}
    </select>
    <select id="selectPlanDetailsByProductId" resultMap="ResultMapWithBLOBs" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from web_product_plan WHERE product_id = ${productId}
    </select>

</mapper>