<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="/index.html">
                <img src="/img/he.png" style="width: 30px;height: auto;margin: -5px;">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" style="margin-left: 20px;" href="/index.html">首页</a></li>
                <li><a class="page-scroll" href="/view/customer.html">私人定制</a></li>
                <li><a class="page-scroll" href="/view/plan.html">自由行</a></li>
                <li><a class="page-scroll" href="/view/theme.html">主题旅游</a></li>
                <li><a class="page-scroll" href="/view/town.html">乡村民宿体验游</a></li>
                <li><a class="page-scroll" href="/view/service.html">旅行服务</a></li>
                <li><a class="page-scroll" href="/view/about.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</nav>