<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
        </div>
    </div>
    <div class="row m-b-lg">
        <div class="col-lg-4" style="text-align:center">
            <p>
                <i class="fa fa-comments-o big-icon pull-center"></i>
            </p><br/>
            <strong><span class="footerP1">在线反馈</span></strong><br/><br/>
            <p style="color: #8a8e93">
                使用过程中遇到的问题，包括产品描述、使用方法、功能介绍、报告解读，都可以在这找到答案
            </p>
            <p>
                <a href="/view/feedback.html">点击前往>></a>
            </p>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <p>
                <i class="fa fa-phone big-icon pull-center"></i>
            </p><br/>
            <strong><span class="footerP1">销售咨询</span></strong><br/><br/>
            <p style="color: #8a8e93">
                由销售经理为你解答购买过程中各类问题，帮您选择最优的测试解决方案
            </p>
            <p>
                010-58437280
            </p>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <p>
                <i class="fa fa-chain big-icon pull-center"></i>
            </p><br/>
            <strong><span class="footerP1">合作洽谈</span></strong><br/><br/>
            <p style="color: #8a8e93;text-align: left; margin-left: 120px;">
                <i class="icon-phone"></i>
                +86 (010) 58437280<br/>
                <i class="icon-mail"></i>
                <a href="mail@andtour.cn">mail@andtour.cn</a><br/>
                <i class="icon-qq"></i>
                <a target="_blank"
                   href="http://wpa.qq.com/msgrd?v=3&amp;uin=909061479&amp;site=qq&amp;menu=yes">
                    QQ: 909061479</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p style="text-align: center">
                <a href="/view/about.html#about">关于我们</a> |
                <a href="/view/about.html#qualification">企业资质</a> |
                <a href="/view/about.html#honour">企业荣誉</a> |
                <a href="/view/about.html#contact">联系我们</a> |
                <a href="/view/about.html#notice">免责声明</a> |
                <a href="/view/pay.html">支付中心</a>
            </p>
            <p>
                <strong>和旅行版权所有 &copy; 2015. www.itrip.live </strong>
                京ICP备16004197号</p>
        </div>
    </div>
</div>