<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="live.itrip.web.dao.WebServiceOrderMapper">
    <resultMap id="BaseResultMap" type="live.itrip.web.model.WebServiceOrder">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="service_type" property="serviceType" jdbcType="VARCHAR"/>
        <result column="link_man" property="linkMan" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="is_success" property="isSuccess" jdbcType="CHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, service_type, link_man, mobile, wechat, remarks, is_success, is_delete, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from web_service_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from web_service_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="live.itrip.web.model.WebServiceOrder">
    insert into web_service_order (id, service_type, link_man, 
      mobile, wechat, remarks, 
      is_success, is_delete, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{serviceType,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{isSuccess,jdbcType=CHAR}, #{isDelete,jdbcType=CHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="live.itrip.web.model.WebServiceOrder">
        insert into web_service_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="serviceType != null">
                service_type,
            </if>
            <if test="linkMan != null">
                link_man,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="isSuccess != null">
                is_success,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="serviceType != null">
                #{serviceType,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="isSuccess != null">
                #{isSuccess,jdbcType=CHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="live.itrip.web.model.WebServiceOrder">
        update web_service_order
        <set>
            <if test="serviceType != null">
                service_type = #{serviceType,jdbcType=VARCHAR},
            </if>
            <if test="linkMan != null">
                link_man = #{linkMan,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="isSuccess != null">
                is_success = #{isSuccess,jdbcType=CHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="live.itrip.web.model.WebServiceOrder">
    update web_service_order
    set service_type = #{serviceType,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=CHAR},
      is_delete = #{isDelete,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
    where id = #{id,jdbcType=INTEGER}
  </update>


    <!--itrip add-->
    <select id="countAll" resultType="int">
        select count(id) from web_service_order where is_delete = '0'
    </select>

    <select id="selectOrderList" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from web_service_order
        where is_delete = '0'
        order by id DESC
        limit ${start},${length}
    </select>
</mapper>